<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>佛</string>
		<key>url</key>
		<string>https://zh.wikipedia.org/wiki/%E4%BD%9B</string>
	</dict>
	<dict>
		<key>title</key>
		<string>佛陀</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=qsBMFYMucwsTc2pxJENiXAtbsT7LezB7XHcs1uVxZA9Q9nggiXAEDvs3uwAgH78-MDTppJpQxLNFQCNO5iaDiG54zt9pLk1EqXXKgl2D8Ii</string>
	</dict>
	<dict>
		<key>title</key>
		<string>六祖慧能</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=Wp8b8wj9BIhFslvWSkL4-aPkvb3kFBW5rMMqLBjQQOUz_FTWqxrFAwvyUbRWDPT6qvnluE5E2tBzsw57T90Wo_</string>
	</dict>
	<dict>
		<key>title</key>
		<string>延参法师</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=wFBC0xkYVPGZx2UkhFEnIgk1osdsi9JBuWz0mWV4bF8gOzhURIkskT4OZ4LdE2AIGw1HoKMgaMX609_iATzoJMzZruuESoj4FS5DOtCDqfXzRCNJfu2Eunxl_A_PIkLPuaux2S2LbDDyEeaXCx99brLTWb8qK1SXxKqVGR07el1YGhJIBRcoN_Z9FgVgdS6_</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海涛法师</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=mjHlfIIJliqJ7PS9W2k_4kYWwHozaWZLSxq-XQ88_bO_AFiSoEIXfJEiqBybE8n7HNr9a9CtWOj31o2XWHXWMgMdZQZdQ_-hnI_RoRrH6zUZzyNrg9X0XcKLvcUgjzfS-VAQJ2KnQiwMwneht53cGVcoDFB4EnljstCYeO4WiYDvHADb9SPo_TfxHMesvziL</string>
	</dict>
	<dict>
		<key>title</key>
		<string>少林寺与佛教</string>
		<key>url</key>
		<string>https://www.zhihu.com/question/19684475</string>
	</dict>
	<dict>
		<key>title</key>
		<string>生死轮回</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=nJt6nlKYVXegmSejVv5rZw5GHEMaZ0w6Jz__kj-3hv_GD5MXcwUrqKtDDKHWlDsx-1vPKUFR6fI0WMlltj_iu_</string>
	</dict>
	<dict>
		<key>title</key>
		<string>因果规律</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=WuF4FZHs-h0BmNNha713u40cqeIGnyiHe6xXDZ3TF4zTztcKRUD2AZ7LFYLCRx2-TBCPQTl5i6ceoA4yletICK</string>
	</dict>
	<dict>
		<key>title</key>
		<string>日本佛教</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=9xDbci5PSEyApIdaiLI8ttFHuV9F1Cu_O0mgJqBikwp-P5kSm3_5vT8CoOnbW9NyIrNm6zTVc3OHbkjnkrK0Uq</string>
	</dict>
	<dict>
		<key>title</key>
		<string>台湾佛教</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=TD5Xk1cCt2yrPt3tcRQc6qiSzYeEYtarmNUlEv99x7QVKKG2LAiuwjX3xra6B5XRS9fqf_il_wD1qSnKaUuJLK</string>
	</dict>
	<dict>
		<key>title</key>
		<string>倓虚大师</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=NnPAA7LVXhCt4Zt1KDcR5It-Hcq6Hm9r0MexUdi4Toi-2_bp_v_r7qfxTMPrEEWpfAMHWzRsph8vAh4GgM5yCq</string>
	</dict>
	<dict>
		<key>title</key>
		<string>佛史名人</string>
		<key>url</key>
		<string>http://j.news.163.com/docs/99/2014072213/A1P0A4RR9001A4RS.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>星云大师</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=TNz7S4YcO7LyR4CpnvG9Y-9FBouXIjiwAKy24dHj3puchc4wzI62lYreOI7F_t6dPHLpDwpyg1pwSuMljfCcc8iFxy-VamKbLWPG4IOKC7p5MsLMa-ZDgU9PUcTzzU18VeqXazOvMj0Fv5psg8pDA0OPnYSUiW2e5Ow2TuP1SlJXLuy27B0JpwaLX4ojQZoI</string>
	</dict>
	<dict>
		<key>title</key>
		<string>南怀瑾</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=HbVXkbdivI3QBxsAvQaw6FWgk1N1i4ZEm7ncd9KldxKePJodwQ7nFPJN8DqbgWw0eFuPh83-CDuIkoR7luk03q</string>
	</dict>
	<dict>
		<key>title</key>
		<string>佛教与素食</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=SjY6iQKhVBvFwhSt9KRcQmjNWEcACDvPl80qElS6VH5BXEP7IgaFjX_IgBDpeup_3qcQ8ZTHe4lVX6FP0LzMNa</string>
	</dict>
</array>
</plist>
