<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YLZG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B07D8C21D956B0D00B657F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B07D8DB1D956B0D00B657F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B07D8E61D956B0D00B657F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
